/* .nav *{
  border: 1px solid white;
} */
.nav{
  width: 300px;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.active_link{
  background: rgba(255, 255, 255, 0.2);
}
.nav a{
  padding-block: 12px;
  border-radius: 7px;
  transition: .3s ease;
  display: flex;
  align-items: center;
}
.nav a:hover{
  background-color: rgba(255, 255, 255, 0.377);
}
.nav ul{
  margin-inline: 24px;
  padding: 0;
}
.nav img{
  margin-right: 12px;
  height: 40px;
}
.nav li{
  margin-block: 2rem;
  align-items: center;
  display: flex;
}